@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: local('Open Sans'),
       local('Open-Sans-regular'),
       url('/fonts/Open-Sans-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('/fonts/Open-Sans-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: local('Open Sans Italic'),
       local('Open-Sans-italic'),
       url('/fonts/Open-Sans-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: local('Open Sans Bold Italic'),
       local('Open-Sans-700italic'),
       url('/fonts/Open-Sans-700italic.woff2') format('woff2');
}

