@font-face {
 font-family: 'Open Sans';
 font-weight: 400;
 font-style: normal;
 src: local('Open Sans'),
      local('Open-Sans-regular'),
      url('/fonts/Open-Sans-regular.woff2') format('woff2');
}

@font-face {
 font-family: 'Open Sans';
 font-weight: 700;
 font-style: normal;
 src: local('Open Sans Bold'),
      local('Open-Sans-700'),
      url('/fonts/Open-Sans-700.woff2') format('woff2');
}

@font-face {
 font-family: 'Open Sans';
 font-weight: 400;
 font-style: italic;
 src: local('Open Sans Italic'),
      local('Open-Sans-italic'),
      url('/fonts/Open-Sans-italic.woff2') format('woff2');
}

@font-face {
 font-family: 'Open Sans';
 font-weight: 700;
 font-style: italic;
 src: local('Open Sans Bold Italic'),
      local('Open-Sans-700italic'),
      url('/fonts/Open-Sans-700italic.woff2') format('woff2');
}

body {
 margin: 2px;
 padding: 0;
}

#subtitel {
 margin: 2px 0 5px 0;
 background: #000;/* 004c89 */
 padding: 20px 15px;
}

#subtitel span {
 font-weight: bold;
 font-family: Trebuchet MS;
 font-size: 25pt;
 color: #FFF;
}

#datum {
	/*font-weight: normal !important;
	color: #567714 !important;*/
	text-decoration: underline;
}

#vergaderingtabel {

}

.vergaderingrij,
.vergaderingrijbezig,
.vergaderingrijgedaan {
	border-bottom: 0;
	margin-bottom: 1px;
	padding: 15px;
	background-color: #dcecf9;
	font-weight: bold;
	font-family: "Open Sans";
	font-size: 22pt;
}

.vergaderingrij:nth-child(even),
.vergaderingrijbezig:nth-child(even),
.vergaderingrijgedaan:nth-child(even) {
 background-color: #a6d1f5;
}

.vergaderingrij i,
.vergaderingrijbezig i,
.vergaderingrijgedaan i {
	font-style: normal;
}

.vergaderingrijbezig {
 color: green;
}

.vergaderingrijgedaan {
 text-decoration: line-through;
 /*display: none;*/
}

#onthaal {
 float: right;
 color: #f4f1bb !important;
}

.tijd,
.isbezig {
	font-weight: normal;
}

.locatie {
	float: right;
	color: #222;
	font-weight: normal;
	font-size: 18pt;
}

.isbezig {
	font-style: italic !important;
}

#jsonerror,
#geenvergadering{
 font-weight: bold;
 font-family: "Open Sans";
 color: #ee1111;
 margin-top: 50px;
 text-align: center;
 font-size: 25pt;
}

#geenvergadering {
 color: #228B22;
}